@use "../presets" as *;

%container {
  max-width: $ul;
  margin: 0 auto;
  padding-right: $gap;
  padding-left: $gap;
}

%paragraph {
  color: $color-gray;
  font-family: $font-main;
  font-size: $font-size;
  font-weight: 400;
}





