@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
    letter-spacing: 0.1em;

    &__btn {
        display: none;
    }

    &__list {
        display: grid;
        justify-content: end;
        gap: $gap;
        grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
        @include unlist(0 (-$gap) 0 0);
    }

    // &__item {
        
    // }

    &__link {
        display: block;
        padding: $gap $gap-sm;
        transition: color 0.5s;
        font-size: 1.125rem;

        &:hover,
        &:focus {
            color: $color-accent;
        }
    }
}