@use "../presets/" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $font-main;
    font-size: $font-size;
    color: $color-gray;
}

h1 {
    font-size: 3.75rem;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-family: $font-header;
}

a {
    text-decoration: none;
    color: $color-light;
}