@use "../presets/" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $font-main;
    font-size: $font-size;
    color: $color-gray;
    overflow-y: scroll;
}

h1 {
    font-size: 3.75rem;
    letter-spacing: 0.08em;
    font-weight: 300;
    font-family: $font-header;
    line-height: 1.2;

    @include lg-min {
        font-size: 3.75rem;
    }

    @include lg-md {
        font-size: 2.5rem;
    }

    @include md {
        font-size: 1.875rem;
    }
}

a {
    text-decoration: none;
    color: $color-light;
}